<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Expert Search</title>
	<link rel="stylesheet" href="test.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	<div id="content">
		<div id="header">
			<h1 id="heading">Expert Search</h1>
		</div>
		<div id="search">
			<form action="#" method="post" accept-charset="utf-8">
				<p><input type="text" name="expertiseArea" value=""></p>
				<p><input type="submit" value="Search Experts &rarr;"></p>
			</form>
		</div>
		<div id="results">
			<ul>
				<li>
					<div class="person">
						<div class="face">
							<a href="#"><img src="photo.jpg"></a>
						</div>
						<div class="name">
							<a href="#">Bob Smith</a>
						</div>
						<div class="position">
							Chief Weaver, Level 2.3
						</div>
						<div class="company">
							The Underwater Basket Weaving Company of Paraguay
						</div>
						<div class="confirmExpertise">
							<form action="#" method="post" accept-charset="utf-8">
								<p><input type="submit" value="+ Expert"></p>
							</form>
						</div>
						<div class="expertiseConfirmed">
							<p>Added as a subject matter expert</p>
						</div>
					</div>
				</li>
				<li>
					<div class="person">
						<div class="face">
							<a href="#"><img src="photo.jpg"></a>
						</div>
						<div class="name">
							<a href="#">Bob Smith</a>
						</div>
						<div class="position">
							Chief Weaver, Level 2.3
						</div>
						<div class="company">
							The Underwater Basket Weaving Company of Paraguay
						</div>
						<div class="confirmExpertise">
							<form action="#" method="post" accept-charset="utf-8">
								<p><input type="submit" value="+ Expert"></p>
							</form>
						</div>
						<div class="expertiseConfirmed">
							<p>Added as a subject matter expert</p>
						</div>
					</div>
				</li>
				<li>
			   		<div class="person confirmedExpert">
						<div class="face">
							<a href="#"><img src="photo.jpg"></a>
						</div>
						<div class="name">
							<a href="">Bob Smith</a>
						</div>
						<div class="position">
							Chief Weaver, Level 2.3
						</div>
						<div class="company">
							The Underwater Basket Weaving Company of Paraguay
						</div>
						<div class="confirmExpertise">
							<form action="#" method="post" accept-charset="utf-8">
								<p><input type="submit" value="+ Expert"></p>
							</form>
						</div>
						<div class="expertiseConfirmed">
							<p>Added as a subject matter expert</p>
						</div>
					</div>
				</li>
				<li>
					<div class="person">
						<div class="face">
							<a href="#"><img src="photo.jpg"></a>
						</div>
						<div class="name">
							<a href="">Bob Smith</a>
						</div>
						<div class="position">
							Chief Weaver, Level 2.3
						</div>
						<div class="company">
							The Underwater Basket Weaving Company of Paraguay
						</div>
						<div class="confirmExpertise">
							<form action="#" method="post" accept-charset="utf-8">
								<p><input type="submit" value="+ Expert"></p>
							</form>
						</div>
						<div class="expertiseConfirmed">
							<p>Added as a subject matter expert</p>
						</div>
					</div>
				</li>
			</ul>
			<div id="showMoreResults">
				<form action="#" method="post" accept-charset="utf-8">
					<p><input type="submit" value="Show more results &hellip;"></p>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
